<div class="main-wrapper">
  <div class="container">
  <div class="row">
    <!--      first-->
    <div class="col-4">
      <br><br>
      <mat-card class="example-card zoom">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>HILTON</mat-card-title>
        <mat-card-subtitle>Single bed rooms</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://setupmyhotel.com/images/Room-Type-Single-Room.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>Number of person can stay:1</p>
        <p>Prize for one day:RS 3000.00</p>
      </mat-card-content>
      <mat-card-actions>
        <button type="button" class="btn btn-primary zoom" routerLink="/dashboard/rooms/singleBedRoom">Click</button>
      </mat-card-actions>
    </mat-card>
    </div>
    <!--      second-->
    <div class="col-4">

      <br><br>
      <mat-card class="example-card zoom">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>HILTON</mat-card-title>
          <mat-card-subtitle>Double bed rooms</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://www.etravelweek.com/sites/default/files/inline-images/double%20room.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>Number of person can stay:2</p>
          <p>Prize for one day:RS 4000.00</p>
        </mat-card-content>
        <mat-card-actions>
          <button type="button" class="btn btn-primary" routerLink="/dashboard/rooms/doubleBedRoom">Click</button>
        </mat-card-actions>
      </mat-card>
    </div>
      <!--      thread-->
    <div class="col-4">
      <br><br>
      <mat-card class="example-card zoom">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>HILTON</mat-card-title>
          <mat-card-subtitle>Dormitory  rooms</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://q-xx.bstatic.com/xdata/images/hotel/840x460/236829313.jpg?k=aad0d149bcf961da9c91f72545334cb87828f9ab61ceba8daf8cda1fbaaf819d&o=" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>Number of person can stay:6</p>
          <p>Prize for one day:RS 8000.00</p>
        </mat-card-content>
        <mat-card-actions>
          <button type="button" class="btn btn-primary" routerLink="/dashboard/rooms/dormitoryRoom">Click</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
</div>
<router-outlet></router-outlet>
