<div class="main-wrap">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand"> &nbsp; &nbsp; HILTON</a>
    <a
      class="btn btn-outline-success my-4 my-sm-0 btn-lg"
      routerLink="/auth/login" routerLinkActive="active"
      role="button"
    >Login</a
    >
  </nav>
  <div class="item2">
    <br>
    <div id="div1">HILTON HOTEL</div>
    <br>
    <div id="div2">AND</div>
    <br>
    <div id="div3">RESIDENCE</div>
  </div>
  <div class="outlet-wrap">
    <router-outlet></router-outlet>
  </div>

</div>
